<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <title>
        手风琴内容列表UI
    </title>
    <link rel="stylesheet" href="/static/css/index.css" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/custom.js"></script>
</head>
<body>
<div class="accordion-wrap">
    <div class="accordion">
        <a href="javascript:void(0)"><i class="fa fa-user"></i>&nbsp;个人简介</a>
        <div class="nav profile">
            <div class="photo">
                <div class="mask-layer">
                    <span>+</span>
                </div>
            </div>
            <h3>TianYu</h3>
            <div class="introduction">
                Hi, It's me Mohan. I'm a web and graphics designer. Designing is my passion and I have been working on various designing projects.
            </div>
        </div>
        <a href="javascript:void(0)"><i class="fa fa-comments"></i>&nbsp;对话</a>
        <div class="nav">
            <div class="chat">
                <div class="mychat comm-chat">
                    <span>今天工作完成了吗？</span>
                </div>
                <div class="mychat comm-chat">
                    <span>完成了给我回个消息,看到消息请及时回复我，不然扣工资</span>
                </div>
                <div class="callchat comm-chat">
                    <span>老板呀，已经完成了</span>
                </div>
                <div class="callchat comm-chat">
                    <span>明天上班前我给你汇报一下具体的情况</span>
                </div>
            </div>
        </div>
        <a href="javascript:void(0)"><i class="fa fa-envelope"></i>&nbsp;消息<span class="prompt">21</span></a>
        <div class="nav message">
            <a href="#">Inbox<span class="prompt">11</span></a>
            <a href="#">Sent</a>
            <a href="#">Trash</a>
            <a href="#">Draft<span class="prompt">5</span></a>
        </div>
        <a href="javascript:void(0)"><i class="fa fa-envelope"></i>&nbsp;上传头像<span class="prompt">21</span></a>
        <a href="javascript:void(0)"><i class="fa fa-envelope"></i>&nbsp;个性签名<span class="prompt">21</span></a>
    </div>
</div>
</body>
</html>
