<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="viewport" content="height=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <title></title>
    <link rel="stylesheet" href="/static/css/common.css"/>
    <link rel="stylesheet" href="/static/css/register.css"/>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
</head>
<script>
    $(function () {
        $(".code").click(function () {
            var timestamp2 = ( new Date()).valueOf();
            var resource_url = '{:captcha_src()}';
            $real_url = resource_url+"?timestamp="+timestamp2;
            $("#captcha_image").attr("src" , $real_url);
        });
    });
</script>
<body>
    <div class="register">
        <div class="regTop">
            <span>用户注册</span>
            <a class="back" href="index.html">&lt;&nbsp;返回</a>
        </div>
        <div class="content">
            <form action="" method="post">
                <div class="message">
                    <input type="email" name="email" placeholder="输入邮箱" pattern="[a-z_0-9.-]{1,64}@([a-z0-9-]{1,200}.){1,5}[a-z]{1,6}" required/>
                    <input type="password" name="password" placeholder="请输入6-25位密码" pattern="[0-9A-Za-z]{6,25}" required/>
                    <input type="password" name="confirm_pass" placeholder="请再次输入密码" pattern="[0-9A-Za-z]{6,25}" required/>
                    <input type="text" name="captcha_code" placeholder="验证码" pattern="[0-9A-Za-z]{6,25}" required/>
                    <!--<select name="job">
                        <option value="choose">选择职位</option>
                        <option value="boss">老板</option>
                        <option value="staff">员工</option>
                    </select>-->
                    <div class="icons">
                        <b><img src="/static/img/zc-1.jpg" alt=""/></b>
                        <b><img src="/static/img/zc-4.png" alt=""/></b>
                        <b><img src="/static/img/zc-3.jpg" alt=""/></b>
                        <b><img src="/static/img/zc-2.jpg" alt=""/></b>
                    </div>

                    <div>
                       <a class="code" href="javascript:void(0)" required><img id="captcha_image" width="150px" height="50px" src="{:captcha_src()}"></a>
                    </div>
                </div>
                <div class="agree">
                    <input name="check_flag" value="0" type="checkbox"/><span>&nbsp;同意&nbsp;</span><a href="">《注册协议》</a>
                </div>
                <button class="submit" type="submit">注册</button>
            </form>
        </div>
    </div>
</body>

</html>